.master {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}
.metal {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}
.pyl {
    background: linear-gradient(to left, white 45%,  #FFD700 55%);
    border-radius: 25px;
    margin: 2rem;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
}
.pyl h3 {
    border-bottom: 2px solid;
}
.master {
    order: 2;
  }
  
  @media (max-width: 768px) {
    .pyl h3 {
      flex-direction: row-reverse;
    }
  
    .master {
      order: 1;
    }
  }